/* Document Styles */

:root {
  --accent: #527a86;
  --background-header-footer: #e6d0e9;
  --background-header-footer-resume: #f2f2f2;
  --background-page: #fffafa;
  --button-text: #fffafa;
  --text-dark: #55286f;
  --text-light: #527a86;
  --shadow: #bec8c4;
}

/* Headings */
h1 {
  font-size: 3rem;
}

p {
  font-size: 1rem;
}

.main-footer,
.main_heading {
  font-family: "Playfair Display", sans-serif;
}

.nav_menu-name {
  font-size: 2rem;
}

main {
  margin: 10%;
}

/* Navigation */
.nav_menu-item {
  position: relative;
}

.main-nav,
.main-footer {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.main-nav {
  justify-content: space-between;
  min-height: 70px;
  overflow: hidden;
  padding: 1.5%;
  text-align: center;
}

.nav_section,
.footer_social-selection {
  display: block;
}

.nav_section {
  line-height: 1.8;
}

.footer_social,
.nav_menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav_menu {
  align-items: center;
  justify-content: space-around;
}

.nav_menu-item {
  margin: 0.3rem;
}

.nav_menu-item a,
.nav_menu-name {
  text-decoration: none;
}

.copyright,
.nav_menu-item a,
.nav_menu-name {
  color: var(--text-light);
}
